@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap");
:root {
  --color-blue: #33478C;
  --color-dark-blue: #202D65;
  --color-red: #CD2028;
  --color-dark-red: #880E19;
  --color-grey: #BCBDC0;
  --color-dark-grey: #707070;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  letter-spacing: .2rem;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  letter-spacing: .1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 901px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1201px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1801px) {
  .container {
    width: 60%;
  }
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__brand-logo {
  height: 70px;
  width: auto;
}

.header__nav {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 901px) {
  .header__nav {
    display: block;
  }
}

.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__nav > ul > li {
  margin-right: 1rem;
  position: relative;
}

.header__nav > ul > li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  height: 3px;
  background-color: var(--color-blue);
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.header__nav > ul > li:hover::after, .header__nav > ul > li:focus::after {
  left: 0;
  right: 0;
}

.header__nav > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: var(--color-dark-grey);
}

.header__nav > ul > li > a:hover, .header__nav > ul > li > a.active:hover {
  color: var(--color-blue);
}

.header__nav > ul > li > a:hover > svg, .header__nav > ul > li > a.active:hover > svg {
  fill: var(--color-blue);
}

.header__nav > ul > li > a.active {
  color: var(--color-red);
}

.header__nav > ul > li > a.active > svg {
  fill: var(--color-red);
}

.header__nav > ul > li > a > svg {
  margin-left: .2rem;
  fill: var(--color-dark-grey);
  width: .8rem;
  height: .8rem;
}

.header__nav__submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding-top: 27px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: .8rem;
}

.header__nav__submenu.show {
  display: block;
}

.header__nav__submenu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.header__nav__submenu > li:hover {
  background-color: var(--color-blue);
}

.header__nav__submenu > li:hover > a {
  color: #fff;
}

.header__nav__submenu > li:not(:last-of-type) {
  border-bottom: 1px solid var(--color-grey);
}

.header__nav__submenu > li > a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .3rem 0;
  color: var(--color-dark-grey);
}

.header__language {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

@media (min-width: 901px) {
  .header__language {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0;
  }
}

.header__language > img {
  cursor: pointer;
}

.header__language > img:not(:first-of-type) {
  margin-left: .5rem;
}

.header__hamburger {
  height: 40px;
  width: 40px;
  fill: var(--color-blue);
  cursor: pointer;
}

@media (min-width: 901px) {
  .header__hamburger {
    display: none;
  }
}

.mobile-nav {
  color: var(--color-grey);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 120%;
  right: 0;
  background-color: var(--color-dark-blue);
  z-index: 3;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

@media (min-width: 901px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav.show {
  left: 50%;
}

@media (min-width: 601px) {
  .mobile-nav.show {
    left: 70%;
  }
}

.mobile-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
  height: 100%;
}

.mobile-nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 3rem;
}

.mobile-nav__button-close svg {
  width: 30px;
  height: 30px;
  fill: var(--color-grey);
}

.mobile-nav__list__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile-nav__list__menu > li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.mobile-nav__list__menu > li > a {
  color: var(--color-grey);
  padding: .2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.mobile-nav__list__menu > li > a.active {
  color: var(--color-red) !important;
}

.mobile-nav__list__menu > li > a svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-grey);
}

.mobile-nav__list__menu > li > .list__submenu {
  display: none;
}

.mobile-nav__list__menu > li > .list__submenu li > a {
  padding: .2rem 0 .2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-grey);
}

.footer {
  padding: 3rem 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--color-blue)), to(var(--color-dark-blue)));
  background: linear-gradient(to bottom right, var(--color-blue), var(--color-dark-blue));
  position: relative;
  color: #fff;
}

@media (min-width: 1201px) {
  .footer {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__separator {
  opacity: .5;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__link__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 901px) {
  .footer__link__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.footer__link__item h2 {
  margin-bottom: 1rem;
}

.footer__link__item a {
  font-size: .8rem;
  color: var(--color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .4rem;
}

.footer__link__item a svg {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  fill: var(--color-grey);
}

.footer__link__item a:hover {
  color: #fff;
}

.footer__link__item a:hover svg {
  fill: #fff;
}

.footer__link__item.download-app {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link__item.download-app > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link__item.download-app img {
  height: 34px;
  margin: 0 .4rem;
}

.footer::before {
  position: absolute;
  top: 0;
  content: '';
  height: 6px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--color-red)), to(var(--color-dark-red)));
  background: linear-gradient(to bottom right, var(--color-red), var(--color-dark-red));
}

.footer__copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  color: var(--color-grey);
}

input,
textarea {
  padding: .25rem .75rem;
  margin-bottom: .8rem;
}

.btn {
  border: none;
  outline: none;
  padding: .5rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-blue);
}

.btn--accent {
  background-color: var(--color-red);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-group > label {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-transform: capitalize;
  font-size: 1rem;
}

.form-group > input,
.form-group > textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form .input-group > * {
  width: 30%;
}

.form button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.slider {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  margin-bottom: 80px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1201px) {
  .slider {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #fff;
    width: 75%;
    margin: 0 auto 120px auto;
  }
}

.slider__banner {
  width: 100%;
}

.slider__arrow {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

@media (min-width: 901px) {
  .slider__arrow {
    padding: 0 30px;
  }
}

.slider__arrow > * {
  width: 30px;
  height: 30px;
  fill: #fff;
  cursor: pointer;
}

@media (min-width: 901px) {
  .slider__arrow > * {
    width: 50px;
    height: 50px;
  }
}

.slider__index {
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider__index .indicator {
  width: 35px;
  height: 12px;
  opacity: .5;
  border-radius: 10px;
  cursor: pointer;
}

.slider__index .indicator:not(:first-of-type) {
  margin-left: 8px;
}

.slider__index .indicator--passive {
  border: 2px solid #fff;
  background-color: #fff;
}

.slider__index .indicator--active {
  border: 2px solid #fff;
  background-color: none;
}

.why {
  position: relative;
  background-color: #fff;
  padding: 4rem 0;
  color: var(--color-blue);
}

@media (min-width: 1201px) {
  .why {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.why__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

@media (min-width: 1201px) {
  .why__wrapper {
    margin-bottom: 0;
  }
}

.why h1 {
  margin-bottom: 1rem;
}

.why p {
  text-align: justify;
}

.why__icon {
  position: relative;
  z-index: 1;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__icon__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.why__icon__item > * {
  width: 100%;
}

.why::after {
  width: 100%;
  height: 300px;
  position: absolute;
  content: '';
  bottom: 0;
  background-image: url("../../images/jakarta.png");
  background-size: auto 20rem;
  background-position: center center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .3;
}

@media (min-width: 1201px) {
  .why::after {
    display: none;
  }
}

.support {
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--color-red)), to(var(--color-dark-red)));
  background: linear-gradient(to bottom right, var(--color-red), var(--color-dark-red));
  position: relative;
}

@media (min-width: 1201px) {
  .support {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    background: none;
  }
  .support::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
            clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
    background: -webkit-gradient(linear, left top, right bottom, from(var(--color-red)), to(var(--color-dark-red)));
    background: linear-gradient(to bottom right, var(--color-red), var(--color-dark-red));
    z-index: -1;
  }
  .support::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    -webkit-clip-path: polygon(0 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 85%, 0 100%);
    background: -webkit-gradient(linear, left top, right bottom, from(var(--color-blue)), to(var(--color-dark-blue)));
    background: linear-gradient(to bottom right, var(--color-blue), var(--color-dark-blue));
    z-index: -1;
  }
}

@media (min-width: 1801px) {
  .support {
    width: 100%;
    background: -webkit-gradient(linear, left top, right bottom, from(var(--color-red)), to(var(--color-dark-red)));
    background: linear-gradient(to bottom right, var(--color-red), var(--color-dark-red));
    position: relative;
  }
  .support::after, .support::before {
    display: none;
  }
}

.support__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.support img {
  height: 140px;
  margin-right: 1.5rem;
  position: relative;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

@media (min-width: 1201px) {
  .support img {
    height: 200px;
  }
}

@media (min-width: 1801px) {
  .support img {
    height: 140px;
  }
}

.calculator {
  padding: 4rem 0;
  position: relative;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--color-blue)), to(var(--color-dark-blue)));
  background: linear-gradient(to bottom right, var(--color-blue), var(--color-dark-blue));
  color: #fff;
}

@media (min-width: 1201px) {
  .calculator {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.calculator__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 901px) {
  .calculator__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.calculator__form {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__form span {
  margin-bottom: .8rem;
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding-left: .5rem;
}

.calculator__form span:not(:last-of-type) {
  margin-right: 2rem;
}

.calculator h1 {
  margin-bottom: 1rem;
}

.calculator::after {
  position: absolute;
  bottom: 0;
  content: '';
  height: 6px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--color-red)), to(var(--color-dark-red)));
  background: linear-gradient(to bottom right, var(--color-red), var(--color-dark-red));
}

.calculator .separator {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin: 1rem 0;
  opacity: .2;
  border-color: #fff;
}

.partner {
  height: 300px;
  position: relative;
  padding: 3rem 0;
  color: var(--color-blue);
  padding-bottom: 4rem;
}

@media (min-width: 1201px) {
  .partner {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    height: 400px;
  }
}

.partner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  z-index: 1;
}

.partner h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2rem;
}

.partner__item-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner__item-wrapper > svg {
  fill: var(--color-blue);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (min-width: 901px) {
  .partner__item-wrapper > svg {
    width: 50px;
    height: 50px;
  }
}

.partner__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2rem;
}

@media (min-width: 901px) {
  .partner__logo {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1201px) {
  .partner__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.partner__logo > img {
  height: 120px;
  width: 120px;
}

@media (min-width: 1201px) {
  .partner__logo > img {
    margin: 0 2rem;
  }
}

.partner::after {
  width: 100%;
  height: 300px;
  position: absolute;
  content: '';
  bottom: 0;
  background-image: url("../../images/sydney.png");
  background-size: auto 20rem;
  background-position: center center;
  opacity: .3;
}

@media (min-width: 1201px) {
  .partner::after {
    background-image: url("../../images/city.png");
    background-size: cover;
  }
}

.content {
  padding-top: calc(80px + 2rem);
  color: var(--color-dark-grey);
  position: relative;
}

.content .container {
  margin-bottom: 220px;
  position: relative;
  z-index: 1;
}

.content::after {
  width: 100%;
  height: 300px;
  position: absolute;
  content: '';
  bottom: 0;
  background-image: url("../../images/city.png");
  background-size: cover;
  background-position: center center;
  opacity: .3;
}

.content h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.content h2 {
  margin-bottom: 1rem;
}

.content h2:not(:first-of-type) {
  margin-top: 1rem;
}

.content p {
  text-align: justify;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.content p.center {
  text-align: center;
}

.content a {
  color: var(--color-red);
}

.content ul {
  list-style: disc;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.content ol {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.content li {
  text-align: justify;
}

.content__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.content__contact form {
  margin-bottom: 3rem;
}

.content__contact__div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content__contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.content__contact__info a {
  font-size: .8rem;
  color: var(--color-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .4rem;
}

.content__contact__info a svg {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  fill: var(--color-red);
}

.content__contact__map {
  height: 20rem;
}

.content__contact__map > div {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-dark-grey);
}
/*# sourceMappingURL=main.css.map */